* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../imgs/background-frame-with-fast-food-and-dessert-vector-20829847.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;

}
.card{
    background:#000000d0 ;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.heading{
    text-align: center;
    font-size: 40px;
}
.header{
    font-size: 30px;
    text-align: center;
}
p{
    text-align: center;
    font-size: 18px;
}

.seach{
    display: flex;
    justify-content: center;
}



/* 
.input {
    height: 75px;
    width: 100%;
}
/* .map {
    height: 750px;
    width: 90%;
 display: block;
 align-items: center;
/* } 

.page-title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    color: aquamarine;
    background-color: black;
}
.header {
    background-color: black;
    text-align: center;
    font-size: 40px;
    color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */ */